body
{
    background: #999CFF;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#999CFF), to(#FAFBF9));
    background: -webkit-linear-gradient(#999CFF, #FAFBF9);
    background: -moz-linear-gradient(#999CFF, #FAFBF9);
    background: -ms-linear-gradient(#999CFF, #FAFBF9);
    background: -o-linear-gradient(#999CFF, #FAFBF9);
    background: linear-gradient(#999CFF, #FAFBF9);
}

.userform{width: 500px;float: left;}
.yazi{width: 400px; height: 40px; border-radius: 20px; padding: 8px; margin-bottom: 10px; color: #aaa; font-size: 12pt; font-family: tahoma,sans-serif;}
.buton{width: 200px; height: 50px; border-radius: 10px;}